.vscode/
.empty/
__pycache__/
wandb/
tensorboard/
outputs/
backup_*/
node_modules/
build/
dist/
*.egg-info/

Open3D/
*ipynb*

*.ply
*.pyc
*.png
*.ckpt
*.so
*.egg
*.o
*.ninja_deps
*.ninja_log

obj_cls/classification_ModelNet40/checkpoints/
obj_cls/classification_ModelNet40/data/
obj_cls/classification_ModelNet40/pointnet2_ops_lib/build/
obj_cls/classification_ModelNet40/pointnet2_ops_lib/pointnet2_ops.egg-info/
!obj_cls/classification_ModelNet40/data/.gitkeep
